*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

em{
    font-weight: 100;
}

.quote{
    margin-top: 20px;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
    /* max-width: 1500vw; */
}
/* Images */
#images{
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
}

.img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    margin: 0 20px;
    object-position: 0% 35%;
    transition: all 1s ease-in-out;
}

#images > div:last-child >.img{
    width: 200px !important;
    height: 600px !important;
}

.img + h2{
    visibility: hidden;
    font-size: 1rem
}

.img:hover + h2{
    visibility: visible;
}
h2:before {
    display: block;
    content: '';
    border-top: solid 3px orange;
    transform: scaleX(0);
    transition: all .5s ease-in-out;
}

.img:hover + h2:before{
    transform: scaleX(1)
}



/* Images END */
.fa{
    cursor: pointer;
}

.fa-stack{
    position: absolute;
    bottom: 50px;
    margin-left: 150px;
}

.fa-circle{
    color: orange;
}

.des{
    position: absolute;
    top: 400px;
    left: 500px;
}

.review{
    transform: rotate(270deg);
    margin-left: 50px;
}
.num{
    margin-right: 20px;
}
.review{
    font-size: 30px
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
    font-weight: bold;
}

.text p{
    font-size: 24px
}


#show1, #show2, #show3,#show4, #show5{
    display: none;
    opacity: 0;
    transition: all 1s ease-in-out;
    animation: pera 1s ease-in-out forwards
}

@keyframes pera{
    from{
        display: block;
        opacity: 0;
    }
    to{
        display: block;
        opacity: 1;
    }
}
